.border1 {
    border: 5px solid #feb836 !important;
}

.rounded-circle1 {
    height: 170px;
    width: 170px;
}

.card1 {
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
}

.card-body1 {
    padding-top: 10px !important;
}

.bg-dark1 {
    background-color: #292533!important;
}